./venv
venv/*
dist/*
build/*
reports/*
*.pyc
.coverage*
.mypy_cache*
.pytest_cache*
__pycache__
*.egg-info
base/venv
base/venv/*
base/dist/*
base/build/*
base/reports/*
base/*.pyc
base/.coverage*
base/.mypy_cache*
base/.pytest_cache*
base/__pycache__
base/*.egg-info
extend/venv
extend/venv/*
extend/dist/*
extend/build/*
extend/reports/*
extend/*.pyc
extend/.coverage*
extend/.mypy_cache*
extend/.pytest_cache*
extend/__pycache__
extend/*.egg-info
.DS_Store
.cursor
.cursor/*
.cursorignore
.claude
.claude/*
.claudeignore
